[[redirects]]
  from = "/api/*"
  to = "http://nodejs-hyunjoo-be-env.eba-vhxd3ycw.us-east-1.elasticbeanstalk.com/api/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200